{% extends "cis/logged-base.html" %}
{%block title %}College Faculty{% endblock %}

{% load templatehelpers %}

{% block body %}
<main>
    <div class="">
        <div class="row">
            <div class="col-sm-6 col-xs-12">
                <h1 class="h3 mb-4 text-gray-800">{{MYCE_SETTINGS.college_name}} College Faculty&nbsp;&nbsp;
                    <div class="btn-group btn-group-sm">
                        <button type="button" class="btn btn-primary btn-sm dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Actions
                        </button>
                        <div class="dropdown-menu">
                            <!-- <a href="{% url 'cis:instructor_add_new' %}" class="dropdown-item"><i class="fas fa-plus"></i>&nbsp;&nbsp;Add New Instructor</a>
                            <div class="dropdown-divider"></div> -->
                            <a href="?{% query_transform order_by='name' order='desc' export='excel' %}" target="_blank" class="dropdown-item"><i class="fas fa-file-excel"></i>&nbsp;&nbsp;Export to Excel</a>
                        </div>
                    </div>
                </h1>
            </div>
            <div class="col-sm-6 col-xs-12 d-none d-md-block d-sm-block">
                <div class="justify-content-end">
                {% include 'snippets/search.html' with q=q search_help=search_help %}
                </div>
            </div>
        </div>

        <div class="row table-responsive" style="min-height: 500px;">
            <table class="table table-striped">
                <thead>
                    <tr>
                        {% include 'snippets/th-order.html' with order_by=order_by order=order title='Name' ordering_by='user__first_name' %}
                        <th>Email</th>
                        <th>Alt. Email</th>
                        <th>Primary Phone</th>
                        <th class='text-right'><span class='sr-only'>Actions</span></th>
                    </tr>
                </thead>
                <tbody>
                    {% for r in records %}
                    <tr>
                        <td><a href="{% url 'cis:instructor' r.id %}?{% query_transform %}">{{ r.user.first_name }} {{ r.user.last_name }}</a></td>
                        <td><a title="Send Email" href="mailto:{{ r.user.email }}">{{ r.user.email }}</a></td>
                        <td><a title="Send Email" href="{{ r.user.alt_email }}">{{ r.user.alt_email }}</a></td>
                        <td>{{ r.user.primary_phone }}</td>
                        <td class='text-right'><a class="btn btn-sm btn-default btn-outline-secondary"
                                href="{% url 'cis:college_instructor' r.id %}?{% query_transform %}">View Details</a></td>
                    </tr>
                    {% empty %}
                    <tr>
                        <td colspan="6">Your search did not match any records</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        {% include 'snippets/paginator.html' with records=records %}
    </div>

</main>
{% endblock %}