{% extends "cis/base.html" %}
{% load i18n static %}

{% load templatehelpers %}
{% load crispy_forms_tags %}

{% block title %}{{ portal.site_name }}{% endblock %}
{% block body %}

<main role="main" id="content">

    <section class="jumbotron text-center bg-transparent">
        <div class="container">
            <div class="trans-bg rounded p-2">
                <h1 class="jumbotron-heading">Please use the form to reset your password</h1>
            </div>
        </div>
    </section>

    <div class="container">
        <div class="p-3 bg-light">
            <div class="row ">
                <div class="col-12 mb-3">
                    <nav aria-label="breadcrumb">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a href="{% url 'index' %}">Home</a></li>
                            <li class="breadcrumb-item active" aria-current="page">Password Reset</li>
                        </ol>
                    </nav>
                </div>
            </div>

            <div class="row">
                <div class="col-12">

                    <p class="alert alert-info">
                        {% trans "Your password has been set.  You may go ahead and log in now." %}</p>

                    <p class="alert"><a class="btn btn-primary" href="{% url 'index' %}">{% trans 'Log in' %}</a></p>

                </div>
            </div>
        </div> <!-- end row -->
    </div> <!-- end container -->
    </div> <!-- end py-5 -->

</main>
{% endblock %}