{% extends 'cis/ajax-base.html' %}

{%block title %}Update Status{% endblock %}

{% load templatehelpers %}
{% load crispy_forms_tags %}

{% block body %}
<script>
   $(document).ready(function() {

    $('form.frm_bulk_action').submit(function(event) {

        var blocked_element = $(this).parent()
        $(blocked_element).block();
        event.preventDefault()

        form = $(this)

        if($("input").hasClass('is-invalid'))
            $("input").removeClass('is-invalid')

        if($("input").next('p').length) 
            $("input").nextAll('p').empty();

        let action = $(form).attr('action')
        let first_element = '';

        $.post({
            url: action,
            data: $(form).serialize(),
            error: function(xhr, status, error) {

                let errors = $.parseJSON(xhr.responseJSON.errors);
                
                var span = document.createElement('span')
                span.innerHTML = xhr.responseJSON.message
                
                for (var name in errors) {
                    for (var i in errors[name]) {
                        var $input = $("input[name='"+ name +"']");
                        $input.addClass('is-invalid');

                        $input.after("<p class='invalid-feedback'><strong class=''>" + errors[name][i].message + "</strong></p>");
                    }

                    if(name == '__all__') {
                        span.innerHTML += "<br><br>" + 
                        errors[name][0].message
                    }

                    
        if(first_element == '') {
            if($input) {
                $input.focus()
            }
        } else {
            first_element = '-'
        }
        
                }

                swal({
                    title: xhr.responseJSON.message,
                    content: span,
                    icon: 'warning'
                });

                $(blocked_element).unblock();
            },
            success: function(response) {
                swal({
                    title: 'Success',
                    icon: 'success',
                    text: response.message,
                    type: response.status
                }).then(
                    (value) => {
                        if(response.action == 'reload_table') {
                            let modal = "modal-bulk_actions"
                            $("#" + modal).modal('hide');

                            window.parent.refreshTable();
                        }
                    }
                )
                $(blocked_element).unblock();
            }
        })
        return false
        });
   })
</script>
<script>
</script>

<div class="card">
    <div class="card-body">
        <h3 class="card-title">{{title}}</h3>
        <div class="card-text">
            <div class="form_status">
                {% if messages %}
                <ul class="messages list-group">
                    {% for message in messages %}
                    <li{% if message.tags %} class="list-group-item {{ message.tags }}" {% endif %}>{{ message }}</li>
                        {% endfor %}
                </ul>
                {% endif %}
            </div>
            <form action="{%url 'cis:course_bulk_actions' %}" method="post" class="frm_bulk_action" enctype="multipart/form-data">
                {{intro|safe}}
                {% csrf_token %}
                {{ form | crispy }}
                <input type="submit" class="btn btn-primary btn-sm" value="Save">
            </form>
        </div>
    </div> 
</div> <!-- end card -->


{% endblock %}