<div class="card mb-4 border-top-0">
    <div class="card-body">
        <div class="text-right">
            <a href="#notes" class="btn btn-sm btn-primary ajax-add_new"
                data-parent="{{ record.id }}" data-id="-1" data-modal="modal-add_new"
                data-model="classsectionnote" data-updater=""><i
                    class="fa fas-light fa-plus-circle"></i>&nbsp;Add New Note</a>
        </div>
        <div class="clearfix">&nbsp;</div>
        <div class="table-responsive">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>Added On</th>
                        <th>Note</th>
                        <th>Added By</th>
                    </tr>
                </thead>
                <tbody>
                    {% if not notes %}
                    <tr>
                        <td colspan="3">None found</td>
                    </tr>
                    {% endif %}
                    {% for r in notes %}
                    <tr>
                        <td>{{ r.createdon|date:'m/d/Y H:i a' }}<br>{{ r.meta.type }}</td>
                        <td>{{ r.note|safe }}</td>
                        <td>{{ r.createdby.first_name }} {{ r.createdby.last_name }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>
