{% extends "cis/logged-base.html" %}
{%block title %}High School => {{ record.name }}{% endblock %}

{% load templatehelpers %}
{% load crispy_forms_tags %}
{% load static %}

{% block body %}
<script src="{% static 'js/change_history.js' %}"></script>
<div class="">
    <div class="row">
        <div class="col-md-12 col-sm-12">
            <h1 class="h3 mt-3 text-gray-800 mb-1">{{ record.name }}</h1>
            <div class="bg-light mb-3">
                <a href='#' onclick='do_ajax_action("change_status", "{{record.id}}")'> <i class="fa fas fa-edit fa-pencil"></i> Edit Status</a>
            </div>
        </div>
    </div>
</div>
<main>
    <div class="">
        <div class="row">
            {% include "cis/messages.html" with messages=messages %}
                
            <div class="col-md-12 col-sm-12">
                <ul class="nav nav-tabs">
                    {% for slug, tab in detail_tabs.items %}
                    <li class="nav-item">
                        <a class="nav-link {% if tab.active %}active{% endif %}" data-toggle="tab" href="#{{ tab.slug }}">
                            {% if tab.icon %}<i class="{{ tab.icon }}"></i> {% endif %}{{ tab.title }}
                            {% if tab.badge %}<span class="badge badge-pill badge-secondary">{{ tab.badge }}</span>{% endif %}
                        </a>
                    </li>
                    {% endfor %}
                </ul>
                <div class="tab-content">
                    {% for slug, tab in detail_tabs.items %}
                    {% if tab.lazy %}
                    <div class="tab-pane {% if tab.active %}active{% endif %}" id="{{ tab.slug }}" data-tab-url="{{ tab.url }}"></div>
                    {% else %}
                    <div class="tab-pane {% if tab.active %}active{% endif %}" id="{{ tab.slug }}">{{ tab.html|safe }}</div>
                    {% endif %}
                    {% endfor %}
                </div>
            </div>
        </div>

</main>
{% endblock %}