{% extends "cis/logged-base.html" %}
{%block title %}{{page_title}}{% endblock %}

{% load templatehelpers %}
{% load static %}

{% block body %}

<main>
    <div class="">
        <div class="row">
            <div class="col-sm-6 col-xs-12">
                <h1 class="h3 mb-4 text-gray-800">{{ page_title }}&nbsp;&nbsp;
                    <div class="btn-group btn-group-sm">
                        <button type="button" class="btn btn-primary btn-sm dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Actions
                        </button>
                        <div class="dropdown-menu">
                            <a href="{% url urls.add_new %}" class="dropdown-item"><i class="fas fa-plus"></i>&nbsp;&nbsp;Add New</a>
                            <a href="?export=excel" target="_blank" class="dropdown-item"><i class="fas fa-file-excel"></i>&nbsp;&nbsp;Export to Excel</a>
                        </div>
                    </div>
                </h1>
            </div>
        </div>

        <div class="table-responsive">
            {% include "cis/messages.html" with messages=messages %}
            <div class="card border-top-0">
                <div class="card-body">

                    <div class="row">
                        <div class="col-md-12 mb-3">
                            <div class="card mb-3">
                                <div class="card-body bg-gray-200">
                                    <form id="users_filter" class="form-inline filter">
                                        <div class="form-row">
                                            <div class="col">
                                                <div class="float-right">
                                                    <select class="form-control mt-2" name="is_active">
                                                        <option value="">Account Enabled: Any</option>
                                                        <option value="true">Yes</option>
                                                        <option value="false">No</option>
                                                    </select>
                                                </div>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>

                            {% include users_table.partial_template with config=users_table %}
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</main>
{% endblock %}
