
    <form class="form-inline p-2 justify-content-end">
        <div class="form-group mx-sm-3 mb-2">
            <div class="">
                <div class="">
                        <button type="button" class="btn btn-sm" data-toggle="popover" title="Search Options" data-placement="top" data-content="{{ search_help }}"><i class="fas fa-question-circle"></i></button>
                    <label for="search_table" class="sr-only">Search</label>
                    <input type="text" class="prompt form-control" name="q" id="search_table" value="{{ q }}"
                        placeholder="Search">&nbsp;
                </div>
            </div>
            <input type="submit" class="form-control btn btn-primary hidden-xs" value="Search" />
        </div>
    </form>