{% load crispy_forms_tags %}
<div class="card border-top-0">
    <div class="card-body">
    <div class="table-responsive ">
        <table style="width: 100%;" id="tbl_files" class="table table-striped">
            <thead>
                <tr>
                    <th data-data="media_type" data-name="media_type">Type
                    </th>
                    <th data-data="description" data-name="description">Description
                    </th>
                    <th data-data="media" data-name="media">File
                    </th>

                    <th data-data="id" data-name="id">
                    </th>
                </tr>
            </thead>

        </table>
    </div>
    <div class="clearfix">&nbsp;</div>
    <!-- File Upload -->
    <h4>Add New File</h4>
    <form action="" method="post" enctype="multipart/form-data">
        <input type="hidden" name="action" value="upload_file">
        {% csrf_token %}
        {{ file_upload_form | crispy }}
        <input type="submit" class="btn btn-primary btn-sm" name="add_file"
            value="Add File">
    </form>
</div>
</div>

<script>
    var tbl_files;

    jQuery(document).ready(function ($) {

        tbl_files = $('#tbl_files').DataTable(
{
    ajax: {
        url: '{{course_uploads_api}}',
        data: function (d) {
            d.format = 'datatables';
            d.course_id = '{{record.id}}';
        }
    },
    serverSide: true,
    processing: true,
    stateSave: true,
    language: {
        'loadingRecords': '&nbsp;',
    },
    'lengthMenu': [30, 50, 100],
    'columns': [
        {
            'render': function (data, type, row, meta) {
                return row.media_type
            }
        },
        null,
        {
            'render': function (data, type, row, meta) {
                return "<a class='' target='_blank' href='" + row.media + "'>Download</a>"
            }
        },
        {
            'render': function (data, type, row, meta) {
                return "<a class='delete-upload btn btn-sm btn-danger' href='#' data-id='" + row.id + "'>Delete</a>"
            }
        }
    ]
}
);

$(document).on("click", ".delete-upload", function () {
    if (confirm("Are you sure you want to delete this record?")) {
        let ajaxurl = "{% url 'cis:add_new_ajax' %}";
        $.ajax({
            type: "GET",
            url: ajaxurl,
            data: "model=delete_course_upload&" + "upload_id=" + $(this).attr("data-id"),
            success: function (response) {
                if (response.status == 'success') {
                   tbl_files.ajax.reload(function(){}, false)
                } else {
                    alert("There was an error while deleting record")
                }
            }
        });
    }
});
});
</script>
