{% extends "cis/logged-base.html" %}
{%block title %}High School Administrator => {{ record.user.first_name }}{% endblock %}

{% load templatehelpers %}
{% load crispy_forms_tags %}

{% load static %}
{% block body %}

<script src="{% static 'js/common_methods.js' %}"></script>
<script src="{% static 'js/hs_admin_detail.js' %}"></script>
<script>
    jQuery(function ($) {
        $('.dataTable').DataTable();
    });
</script>
<div class="">
    <div class="row">
        <div class="col-md-6 col-sm-12">
            <h1 class="h3 mt-3 text-gray-800 mb-3">{{ record }}</h1>
        </div>
    </div>
</div>
<main>
    <div class="row">
        <div class="col-md-4 col-sm-12 mb-4">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Details <small class="float-right"><a  target="_parent"
                                href='{% url 'impersonate-start' record.user.id %}'><i
                                    class="fa fa-ghost"></i></a></small></h5>
                    <div class="card-text">
                        {% if messages %}
                        <ul class="messages list-group">
                            {% for message in messages %}
                            <li{% if message.tags %} class="list-group-item {{ message.tags }}" {% endif %}>
                                {{ message }}</li>
                                {% endfor %}
                        </ul>
                        {% endif %}
                        <form action="" method="post">
                            {% csrf_token %}
                            {{ form | crispy }}
                            <input type="submit" class="btn btn-primary btn-sm" value="Update">
                            <a data-url="{% url 'cis:delete_hs_admin' record.id%}" class="btn btn-sm btn-danger hs-admin-delete"><i class="fa fa-trash-alt text-light"></i></a>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-8 col-sm-12">
            <ul class="nav nav-tabs">
                {% for slug, tab in detail_tabs.items %}
                <li class="nav-item">
                    <a class="nav-link {% if tab.active %}active{% endif %}" data-toggle="tab" href="#{{ tab.slug }}">
                        {% if tab.icon %}<i class="{{ tab.icon }}"></i> {% endif %}{{ tab.title }}
                        {% if tab.badge %}<span class="badge badge-pill badge-secondary">{{ tab.badge }}</span>{% endif %}
                    </a>
                </li>
                {% endfor %}
            </ul>
            <div class="tab-content">
                {% for slug, tab in detail_tabs.items %}
                {% if tab.lazy %}
                <div class="tab-pane {% if tab.active %}active{% endif %}" id="{{ tab.slug }}" data-tab-url="{{ tab.url }}"></div>
                {% else %}
                <div class="tab-pane {% if tab.active %}active{% endif %}" id="{{ tab.slug }}">{{ tab.html|safe }}</div>
                {% endif %}
                {% endfor %}
            </div> <!-- end tab-content -->
        </div> <!-- end col-md-8 -->

    </div> <!-- end row -->


</main>
{% endblock %}