{% extends "cis/logged-base.html" %}
{%block title %}High School => {{ record.name }}{% endblock %}

{% load templatehelpers %}
{% load crispy_forms_tags %}

{% load static %}
{% block body %}

<script src="{% static 'js/common_methods.js' %}"></script>
<script>
    jQuery(function ($) {
        $('.dataTable').DataTable();
    });
</script>
<div class="">
    <div class="row">
        <div class="col-md-6 col-sm-12">
            <h1 class="h3 mt-3 text-gray-800 mb-3">{{ record.name }}</h1>
        </div>
    </div>
</div>
<main>
    <div class="row">

        {% include "cis/messages.html" with messages=messages %}
        
        <div class="col-md-4 col-sm-12 mb-4">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Role Details</h5>
                    <div class="card-text">
                        
                        <form action="" method="post">
                            {% csrf_token %}
                            {{ form | crispy }}
                            <input type="submit" class="btn btn-primary btn-sm" value="Update">
                            <a data-url="{% url 'cis:delete_hs_position' record.id%}" class="btn btn-sm btn-danger delete-record"><i class="fa fa-trash-alt text-light"></i></a>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-8 col-sm-12">
            <ul class="nav nav-tabs">
                <li class="nav-item">
                    <a class="nav-link active" data-toggle="tab" href="#admins">Administrators</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" data-toggle="tab" href="#migrate">Migrate Record</a>
                </li>
            </ul>

            <div class="tab-content">
                <div class="tab-pane" id="migrate">
                    <div class="card border-top-0">
                        <div class="card-text mt-2">
                            <div class="col-12">
                            <p class="alert alert-info">Use the form to move current records over to a different role. This is helpful when trying to merge duplicate records.</p>
                            
                            <div class="row">
                                <div class="col-4">
                                    
                                    {{migration_form.media}}

                                    <form action="" enctype="multipart/form-data" method="post">
                                    {% csrf_token %}
                                    {{migration_form|crispy}}
                                    <input type="submit" class="btn btn-primary btn-sm" value="Submit">
                                    </form>
                                </div>
                                <div class="col-8">
                                    <div class="card">
                                        <div class="card-body">
                                        <div class="p2">
                                            <div id="migrate_student_info" class="">
                                                
                                            </div>
                                        </div>
                                    </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        </div>
                    </div>
                </div>

                <div class="tab-pane active" id="admins">
                    <div class="card mb-4 border-top-0">
                        <div class="card-body ">
                            <div class="table-responsive">
                                <table class="table dataTable table-striped">
                                    <thead>
                                        <tr>
                                            <th>Name</th>
                                            <th>High School</th>
                                            <th>Email</th>
                                            <th>Status</th>
                                            <th>Since</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        {% for r in administrators %}
                                        <tr>
                                            <td>
                                                <a href="{% url 'cis:hs_admin' r.hsadmin.id %}">{{r.hsadmin.user.first_name}} {{r.hsadmin.user.last_name}}</a>
                                            </td>
                                            <td>{{r.highschool.name}}</td>
                                            <td>{{r.hsadmin.user.email}}</td>
                                            <td>{{r.status}}</td>
                                            <td>{{r.since|date:'m/d/Y'}}</td>
                                        </tr>
                                        </a>

                                        {% endfor %}
                                    </tbody>
                                </table>
                            </div> <!-- end table-responsive -->
                        </div> <!-- end card-body -->
                    </div> <!-- end card -->
                </div>
            </div>

        </div> <!-- end col-md-8 -->

    </div> <!-- end row -->


</main>
{% endblock %}