{% extends "cis/logged-base.html" %}
{%block title %}{{page_title}}{% endblock %}

{% load templatehelpers %}

{% block body %}

<main>
    <div class="">
        <div class="row">
            <div class="col-sm-6 col-xs-12">
                <h1 class="h3 mb-4 text-gray-800">{{page_title}}&nbsp;
                </h1>
            </div>
        </div>

        <div class="table-responsive">
            <div class="">
                <ul class="nav nav-tabs">
                    <li class="nav-item">
                        <a class="nav-link" data-toggle="tab" href="#all">All Applications</a>
                    </li>
                    <li class="nav-item active">
                        <a class="nav-link active" data-toggle="tab" href="#active">Active</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" data-toggle="tab" href="#reviewers">By Reviewers</a>
                    </li>
                </ul>

                <div class="tab-content">
                    <div class="tab-pane active" id="active">
                        <div class="bg-white border border-top-0">

                            <div class="col-md-12 pt-3 mb-3">
                                <div class="card">
                                    <div class="card-body bg-gray-200">
                                        <form id="class_section_filter_active" class="form-inline float-right filter">
                                            <div class="form-row">
                                                <div class="col">
                                                    <div class="float-right">
                                                        <select class="form-control" name="academic_year">
                                                            <option value="">Filter By SI Attend Year</option>
                                                            {% for c in academic_years %}
                                                            <option value="{{c.id}}">{{c.name}}</option>
                                                            {% endfor %}
                                                        </select>&nbsp;&nbsp;<select class="form-control" name="course_status">
                                                            <option value="">Filter By Final Course Decision</option>
                                                            {% for key, value in course_status %}
                                                            <option value="{{key}}">{{value}}</option>
                                                            {% endfor %}
                                                        </select>&nbsp;&nbsp;
                                                        <select class="form-control" name="status">
                                                            <option value="">Filter By Status</option>
                                                            {% for key, value in status %}
                                                            <option value="{{key}}">{{value}}</option>
                                                            {% endfor %}
                                                        </select>&nbsp;&nbsp;
                                                        <select class="form-control" name="course">
                                                            <option value="">Filter By Course</option>
                                                            <option value='-2'>All My Course(s)</option>
                                                            {% for cohort in courses %}
                                                            <option value="{{cohort.id}}">{{cohort.cohort.designator}}
                                                                {{cohort.catalog_number}}</option>
                                                            {% endfor %}
                                                        </select>
                                                    </div>

                                                </div>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>

                            <div class="col-12 pt-3 mb-3">
                                <table id="records_active" class="table table-striped responsive" style="width:100%">
                                    <thead>
                                        <tr>
                                            <th data-data="createdon" data-name='createdon'>Created On</th>
                                            <th data-data="user.last_name" data-name="user.last_name">Name
                                            </th>
                                            <th data-data="highschool.name" data-name="highschool.name">High School
                                            </th>
                                            <th data-data="courses" data-name="courses">Course(s)
                                            </th>
                                            <th data-data="status" data-name="status">Status
                                            </th>
                                            <th data-data="missing_items" data-name="missing_items">Missing Item(s)</th>
                                            <th data-data="ce_url" data-name='ce_url'><span
                                                    class="sr-only">Actions</span></th>
                                        </tr>
                                    </thead>
                                </table>
                            </div>
                        </div>
                    </div>

                    <div class="tab-pane " id="all">
                        <div class="bg-white border border-top-0">

                            <div class="col-md-12 pt-3 mb-3">
                                <div class="card">
                                    <div class="card-body bg-gray-200">
                                        <form id="class_section_filter" class="form-inline float-right filter">
                                            <div class="form-row">
                                                <div class="col">
                                                    <div class="float-right">
                                                        <select class="form-control" name="course_status">
                                                            <option value="">Filter By Final Course Decision</option>
                                                            {% for key, value in course_status %}
                                                            <option value="{{key}}">{{value}}</option>
                                                            {% endfor %}
                                                        </select>&nbsp;&nbsp;
                                                        <select class="form-control" name="status">
                                                            <option value="">Filter By Status</option>
                                                            {% for key, value in status %}
                                                            <option value="{{key}}">{{value}}</option>
                                                            {% endfor %}
                                                        </select>&nbsp;&nbsp;
                                                        <select class="form-control" name="cohort">
                                                            <option value="">Filter By Subject</option>
                                                            {% for cohort in cohorts %}
                                                            <option value="{{cohort.id}}">{{cohort.designator}}</option>
                                                            {% endfor %}
                                                        </select>
                                                    </div>

                                                </div>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>

                            <div class="col-12 pt-3 mb-3">
                                <table id="records_all" class="table table-striped responsive" style="width:100%">
                                    <thead>
                                        <tr>
                                            <th data-data="createdon" data-name='createdon'>Created On</th>
                                            <th data-data="user.last_name" data-name="user.last_name">Name
                                            </th>
                                            <th data-data="highschool.name" data-name="highschool.name">High School
                                            </th>
                                            <th data-data="courses" data-name="courses">Course(s)
                                            </th>
                                            <th data-data="status" data-name="status">Status
                                            </th>
                                            <th data-data="ce_url" data-name='ce_url'><span
                                                    class="sr-only">Actions</span></th>
                                        </tr>
                                    </thead>
                                </table>
                            </div>
                        </div>
                    </div>
                    <!-- end tab # records_all -->


                    <div class="tab-pane " id="reviewers">
                        <div class="bg-white border border-top-0">

                            <div class="col-md-12 pt-3 mb-3">
                                <div class="card">
                                    <div class="card-body bg-gray-200">
                                        <form id="reviewer_filter" class="form-inline float-right filter">
                                            <div class="form-row">
                                                <div class="col">
                                                    <div class="float-right">
                                                        <select class="form-control" name="course_review_status">
                                                            <option value="">Filter By Review Decision</option>
                                                            {% for key, value in course_review_status %}
                                                            <option value="{{key}}">{{value}}</option>
                                                            {% endfor %}
                                                        </select>&nbsp;&nbsp;
                                                        <select class="form-control" name="status">
                                                            <option value="Approved for FC review">Approved for FC
                                                                review</option>
                                                            <option value="">All Applications</option>
                                                            {% for key, value in status %}
                                                            <option value="{{key}}">{{value}}</option>
                                                            {% endfor %}
                                                        </select>&nbsp;&nbsp;
                                                        <select class="form-control" name="course">
                                                            <option value="">Filter By Course</option>
                                                            <option value='-2'>All My Course(s)</option>
                                                            {% for cohort in courses %}
                                                            <option value="{{cohort.id}}">{{cohort.cohort.designator}}
                                                                {{cohort.catalog_number}}</option>
                                                            {% endfor %}
                                                        </select>
                                                    </div>

                                                </div>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>

                            <div class="col-12 pt-3 mb-3">
                                <table id="records_reviewers" class="table table-striped responsive" style="width:100%">
                                    <thead>
                                        <tr>
                                            <th data-data="assigned_on" data-name='assigned_on'>Assigned On</th>
                                            <th data-data="application_course.teacherapplication.user.last_name"
                                                data-name="application_course.teacherapplication.user.last_name">
                                                Instructor Name
                                            </th>
                                            <th data-data="application_course.teacherapplication.highschool.name"
                                                data-name="application_course.teacherapplication.highschool.name">High
                                                School
                                            </th>
                                            <th data-data="application_course.course.name"
                                                data-name="application_course.course.name">Course
                                            </th>
                                            <th data-data="reviewer.last_name" data-name="reviewer.last_name">Reviewer
                                            </th>
                                            <th data-data="status" data-name="status">Review Decision
                                            </th>
                                            <th data-data="application_course.teacherapplication.ce_url"
                                                data-name='application_course.teacherapplication.ce_url'><span
                                                    class="sr-only">Actions</span></th>
                                        </tr>
                                    </thead>
                                </table>
                            </div>
                        </div>
                    </div>
                    <!-- end tab # records_reviewers -->

                </div>
                <!-- end tab-content -->
                <script>
                    var table_all, table_active, table_reviewer;
                    setInterval(function() {

                        if(!table_all.rows('.selected').any())
                            table_all.ajax.reload(null, false);
                        
                        if(!table_active.rows('.selected').any())
                            table_active.ajax.reload(null, false);
                        
                        if(!table_reviewer.rows('.selected').any())
                            table_reviewer.ajax.reload(null, false);
                    }, 5000 * 60);

                    $(document).ready(function () {

                        let baseURL = '{{api_url}}'

                        $(document).on("change", "form#class_section_filter :input", function () {
                            load_data();
                        })

                        $(document).on("change", "form#class_section_filter_active :input", function () {
                            load_active_data();
                        })

                        function load_data() {
                            let form = $('form#class_section_filter')
                            let newURL = baseURL + '&' + $(form).serialize();

                            table_all.ajax.url(newURL).load()
                        }

                        function load_active_data() {
                            let form = $('form#class_section_filter_active')
                            let newURL = baseURL + '&active_only=true&' + $(form).serialize();

                            table_active.ajax.url(newURL).load()
                        }

                        table_all = $('#records_all')
                           .DataTable({
                                "fnDrawCallback": function( oSettings ) {
                                    $.unblockUI();
                                },
                                dom: 'B<"float-left mt-3 mb-3"l><"float-right mt-3"f><"row clear">rt<"row"<"col-6"i><"col-6 float-right"p>>',
                                buttons: [
                                    {
                                        extend: 'csv', className: 'btn btn-sm btn-primary text-white text-light',
                                        text: '<i class="fas fa-file-csv text-white"></i>&nbsp;CSV',
                                        titleAttr: 'Export results to CSV' 
                                    },
                                    { 
                                        extend: 'print', className: 'btn btn-sm btn-primary text-white text-light',
                                        text: '<i class="fas fa-print text-white"></i>&nbsp;Print',
                                        titleAttr: 'Print' 
                                    },
                                ],
                                ajax: '{{api_url}}&' + $('form#class_section_filter').serialize(),
                                serverSide: true,
                                processing: true,
                                stateSave: true,
                                'lengthMenu': [30, 50, 100],
                                'order': [[0, 'desc']],
                                'columns': [
                                    null,
                                    {
                                        'render': function (data, type, row, meta) {
                                            return row.user.last_name + ', ' +
                                                row.user.first_name
                                        }
                                    },
                                    {
                                        'render': function (data, type, row, meta) {
                                            if (row.highschool == null)
                                                return '';
                                            return row.highschool.name
                                        }
                                    },
                                    {
                                        'searchable': false,
                                        'orderable': false
                                    },
                                    null,
                                    {
                                        'searchable': false,
                                        'orderable': false,
                                        'render': function (data, type, row, meta) {
                                            return "<a class='btn btn-sm btn-primary record-details' refresh-target='table_all' href='" + row.ce_url + "'>Details</a>"
                                        }
                                    }
                                ]
                            }
                        );

                        table_active = $('#records_active')
                           .DataTable({
                                "fnDrawCallback": function( oSettings ) {
                                    $.unblockUI();
                                },
                                dom: 'B<"float-left mt-3 mb-3"l><"float-right mt-3"f><"row clear">rt<"row"<"col-6"i><"col-6 float-right"p>>',
                                buttons: [
                                    {
                                        extend: 'csv', className: 'btn btn-sm btn-primary text-white text-light',
                                        text: '<i class="fas fa-file-csv text-white"></i>&nbsp;CSV',
                                        titleAttr: 'Export results to CSV' 
                                    },
                                    { 
                                        extend: 'print', className: 'btn btn-sm btn-primary text-white text-light',
                                        text: '<i class="fas fa-print text-white"></i>&nbsp;Print',
                                        titleAttr: 'Print' 
                                    },
                                ],
                                // searchPanes: true,
                                // dom: 'Pfrtip',
                                ajax: '{{api_url}}&active_only=true&' + $('form#class_section_filter_active').serialize(),
                                serverSide: true,
                                // stateSave: true,
                                // columnDefs: [
                                //     {
                                //         searchPanes: {
                                //             show: false,
                                //         },
                                //         targets: [0, 1, 2],
                                //     },
                                // ],
                                'lengthMenu': [30, 50, 100],
                                'order': [[0, 'desc']],
                                'columns': [
                                    null,
                                    // {
                                    //     'searchable': false,
                                    //     'orderable': false
                                    // },
                                    {
                                        'render': function (data, type, row, meta) {
                                            return row.user.last_name + ', ' +
                                                row.user.first_name
                                        }
                                    },
                                    {
                                        'render': function (data, type, row, meta) {
                                            if (row.highschool == null)
                                                return '';
                                            return row.highschool.name
                                        }
                                    },
                                    {
                                        'searchable': false,
                                        'orderable': false
                                    },
                                    null,
                                    {
                                        'searchable': false,
                                        'orderable': false,
                                        'render': function (data, type, row, meta) {
                                            return row.missing_items;
                                        }
                                    },
                                    {
                                        'searchable': false,
                                        'orderable': false,
                                        'render': function (data, type, row, meta) {
                                            return "<a class='btn btn-sm btn-primary record-details' refresh-target='table_active' href='" + row.ce_url + "'>Details</a>"
                                        }
                                    }
                                ]
                            }
                        );

                        $(document).on("change", "form#reviewer_filter :input", function () {
                            load_reviewer_data();
                        })

                        function load_reviewer_data() {
                            let form = $('form#reviewer_filter')
                            let newURL = "{{reviewer_api_url}}" + '&' + $(form).serialize();

                            table_reviewer.ajax.url(newURL).load()
                        }
                        table_reviewer = $('#records_reviewers')
                           .DataTable({
                                "fnDrawCallback": function( oSettings ) {
                                    $.unblockUI();
                                },
                                dom: 'B<"float-left mt-3 mb-3"l><"float-right mt-3"f><"row clear">rt<"row"<"col-6"i><"col-6 float-right"p>>',
                                buttons: [
                                    {
                                        extend: 'csv', className: 'btn btn-sm btn-primary text-white text-light',
                                        text: '<i class="fas fa-file-csv text-white"></i>&nbsp;CSV',
                                        titleAttr: 'Export results to CSV' 
                                    },
                                    { 
                                        extend: 'print', className: 'btn btn-sm btn-primary text-white text-light',
                                        text: '<i class="fas fa-print text-white"></i>&nbsp;Print',
                                        titleAttr: 'Print' 
                                    },
                                ],
                                ajax: '{{reviewer_api_url}}&' + $('form#reviewer_filter').serialize(),
                                serverSide: true,
                                processing: true,
                                stateSave: true,
                                'lengthMenu': [30, 50, 100],
                                'order': [[0, 'desc']],
                                'columns': [
                                    null,
                                    {
                                        'render': function (data, type, row, meta) {
                                            return row.application_course.teacherapplication.user.last_name + ', ' +
                                                row.application_course.teacherapplication.user.first_name
                                        }
                                    },
                                    {
                                        'render': function (data, type, row, meta) {
                                            if (row.application_course.teacherapplication.highschool == null)
                                                return '';
                                            return row.application_course.teacherapplication.highschool.name
                                        }
                                    },
                                    {
                                        'searchable': false,
                                        'orderable': false
                                    },
                                    {
                                        'render': function (data, type, row, meta) {
                                            return row.reviewer.last_name + ', ' +
                                                row.reviewer.first_name
                                        }
                                    },
                                    null,
                                    {
                                        'searchable': false,
                                        'orderable': false,
                                        'render': function (data, type, row, meta) {
                                            return "<a class='btn btn-sm btn-primary  record-details' refresh-target='table_reviewer' href='" + row.application_course.teacherapplication.ce_url + "'>Details</a>"
                                        }
                                    }
                                ]
                            }
                        );

                    });

                    function chartData(table) {
                        var counts = {};

                        // Count the number of entries for each position
                        table
                            .column(3, { search: 'applied' })
                            .data()
                            .each(function (val) {
                                if (counts[val]) {
                                    counts[val] += 1;
                                } else {
                                    counts[val] = 1;
                                }
                            });

                        // And map it to the format highcharts uses
                        return $.map(counts, function (val, key) {
                            return {
                                name: key,
                                y: val,
                            };
                        });
                    }

                </script>
            </div>
        </div>

</main>

{% endblock %}