{% extends "cis/logged-base.html" %}
{%block title %}{{ page_title }}{% endblock %}

{% load templatehelpers %}
{% load crispy_forms_tags %}

{% block body %}
<main>
    <div class="row">
        <div class="col-12">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="/">Home</a></li>
                    <li class="breadcrumb-item"><a href='#' onClick="javscript:window.history.back()">Back</a>
                    </li>
                    <li class="breadcrumb-item active" aria-current="page">SIS Message</li>
                </ol>
            </nav>
        </div>

        <div class="col-8">
            <div class="card">
                <div class="card-body">
                    <pre>{{record.message|pretty_json}}</pre>
                </div>
            </div>
        </div>

        <div class="col-4">
            <div class="card">
                <div class="card-body">
                    <a class="pull-right float-right" href="?process=1">
                        <i class="fa fas fa-retweet"></i>
                    </a>
                    <div class="clearfix"></div>
                    <hr>
                    {{record.processed_message_sexy|safe}}
                </div>
            </div>
        </div>

    </div> <!-- end row -->


</main>
{% endblock %}