{% extends "cis/logged-base.html" %}
{%block title %}{{page_title}}{% endblock %}

{% load templatehelpers %}

{% block body %}

<main>
    <div class="">
        <div class="row">
            <div class="col-sm-6 col-xs-12">
                <h1 class="h3 mb-4 text-gray-800">{{page_title}}&nbsp;
                </h1>
            </div>
        </div>

        <div class="table-responsive">
            <div class="">
                {% include "cis/messages.html" with messages=messages %}
                <ul class="nav nav-tabs">
                    <li class="nav-item">
                        <a class="nav-link active" data-toggle="tab" href="#all">All {{page_title}}</a>
                    </li>
                    <li class="nav-item d-none">
                        <a class="nav-link" data-toggle="tab" href="#archived">Archived</a>
                    </li>
                </ul>

                <div class="tab-content">
                    <div class="tab-pane active " id="all">
                        <div class="card border-top-0">
                            <div class="card-body">
                                <div class="card mb-3">
                                    <div class="card-body bg-gray-200">

                        <form id="support_docs_filter" class="form-inline filter mb-3">
                            {% include 'snippets/campus.html' with campus=accessible_campuses default_campus=default_campus %}
                        </form>

                                    </div>
                                </div>
                        {% include support_docs_table.partial_template with config=support_docs_table %}

                            </div>
                        </div>
                    </div>
                    <!-- end tab # records_active -->
                </div>
                <!-- end tab-content -->

            </div>
        </div>

</main>

{% endblock %}