{% extends base_template %}

{%block title %}Manage Event Speaker{% endblock %}

{% load templatehelpers %}
{% load crispy_forms_tags %}

{% block body %}
<script>
   
</script>
{% if ajax != '1' %}
<div class="">
    <div class="row">
        <div class="col">
            <h1 class="h3 mt-3 text-gray-800 mb-3">Add New</h1>
        </div>
    </div>
</div>
{% else %}
<script>
</script>
{% endif %}

{% if ajax != '1' %}
<main>
    <div class="row">
        <div class="col-md-6 col-sm-12 mb-4">
{% endif %}
            <div class="card">
                <div class="card-body">
                    <h3 class="card-title">{{event.name}}</h3>
                    <div class="card-text">
                        <div class="form_status">
                            {% if messages %}
                            <ul class="messages list-group">
                                {% for message in messages %}
                                <li{% if message.tags %} class="list-group-item {{ message.tags }}" {% endif %}>{{ message }}</li>
                                    {% endfor %}
                            </ul>
                            {% endif %}
                        </div>
                        <form action="" id="form_event_speaker" method="post">
                            {% csrf_token %}
                            {{ form | crispy }}

                            {% if ajax == '1' %}
                                <input type="hidden" name="model" value="eventspeaker">
                            {% endif %}
                            <input type="submit" class="btn btn-primary btn-sm" value="Save">

                            {% if form.id.value != '-1' %}
                                <input data-type="speaker" data-id="{{form.id.value}}" type="button" class="btn btn-danger btn-sm delete-record" value="Delete">
                            {% endif %}
                        </form>
                    </div>
                </div> 
            </div> <!-- end card -->
{% if ajax != '1' %}
        </div> <!-- end col-md-6 -->
    </div> <!-- end row -->
</main>
{% endif %}

{% endblock %}