{% extends 'cis/ajax-base.html' %}

{%block title %}Update Password{% endblock %}

{% load templatehelpers %}
{% load crispy_forms_tags %}

{% block body %}

<div class="card">
    <div class="card-body">
        <h3 class="card-title">{{title}}</h3>
        <div class="card-text">
            <div class="form_status">
                {% if messages %}
                <ul class="messages list-group">
                    {% for message in messages %}
                    <li{% if message.tags %} class="list-group-item {{ message.tags }}" {% endif %}>{{ message }}</li>
                        {% endfor %}
                </ul>
                {% endif %}
            </div>
            <form action="{{ form_action }}" method="post" class="frm_ajax" enctype="multipart/form-data">
                {% csrf_token %}
                <input type="hidden" name="action_confirmed" value="1">
                {{ form | crispy }}
                <input type="submit" class="btn btn-primary btn-sm" value="Update Record(s)">
                <button type="button" class="btn btn-sm" data-dismiss="modal">Cancel &amp; Close</button>
            </form>
        </div>
    </div> 
</div> <!-- end card -->

{% endblock %}