{% extends 'cis/ajax-base.html' %}

{% block title %}Update Credentials{% endblock %}

{% load crispy_forms_tags %}

{% block body %}

<div class="card">
    <div class="card-body">
        <h3 class="card-title">{{ title }}</h3>
        <div class="card-text">
            <form action="{{ form_action|safe }}" id="{{ form_id }}" method="post" class="frm_bulk_action">
                <p class="alert alert-info">Blank fields are left unchanged.</p>
                {% csrf_token %}
                {{ form | crispy }}
                <input type="submit" class="btn btn-primary btn-sm" value="Apply"><input type="button" class="btn btn-sm" onclick="window.closeBulkActionModal()" value="Cancel &amp; Close">
            </form>
        </div>
    </div>
</div> <!-- end card -->

{% endblock %}
